<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kadep"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".GantiPassword"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UpdateProfile"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FormPengujiSidang"
            android:exported="false"
            android:label="Form Penguji Sidang"
            android:parentActivityName=".DetailSidang">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".FormPengujiSeminar"
            android:exported="false"
            android:label="Form Penguji Seminar"
            android:parentActivityName=".DetailSeminar" />
        <activity
            android:name=".JadwalSidang"
            android:exported="false"
            android:label="Jadwal Sidang"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PermintaanSidang"
            android:exported="false"
            android:label="Permintaan Sidang"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JadwalSeminar"
            android:exported="false"
            android:label="Jadwal Seminar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PermintaanSeminar"
            android:exported="true"
            android:label="Permintaan Seminar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PesertaSeminar"
            android:exported="false"
            android:label="Peserta Seminar" />
        <activity
            android:name=".DetailTA"
            android:exported="false"
            android:label="Detail Tugas Akhir" />
        <activity
            android:name=".DetailSeminar"
            android:exported="false"
            android:label="Detail Seminar"
            android:parentActivityName=".PermintaanSeminar" />
        <activity
            android:name=".LogbookActivity"
            android:exported="true"
            android:label="Logbook Tuga Akhir"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".DetailSidang"
            android:exported="true"
            android:label="Detail Sidang"
            android:parentActivityName=".PermintaanSidang" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="true" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>